/* Layout geral */
.linha {
    display: flex;
    justify-content: space-between;
}

.margem-top {
    margin-top: 10px;
}

/* Caixas azuis */
.box {
    background-color: blue;
    width: 200px;
    height: 200px;
    display: flex;
}

/* Quadrados vermelhos */
.quadrado {
    background-color: red;
    width: 50px;
    height: 50px;
}

/* Flex helpers */
.coluna {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.center-total {
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    justify-content: center;
}

.alinhar-fundo {
    align-items: flex-end;
}

.direita-total {
    justify-content: flex-end;
}

/* Posicionamentos específicos */
.direita {
    margin-left: 150px;
}

.margem-esquerda {
    margin-left: 50px;
}

.posicao-custom {
    margin-left: 50px;
    margin-top: 10px;
}

/* Subdivisões */
.subbox {
    width: 100%;
    height: 33%;
    display: flex;
}

.topo {
    justify-content: center;
    align-items: flex-start;
}

.meio {
    justify-content: space-between;
    align-items: center;
}

.fundo {
    justify-content: center;
    align-items: flex-end;
}
