@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;;
}

body {
    background-color: whitesmoke;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-30 {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-70 {
    height: 70%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 50%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
   width: 40%;
   height: 30%;
   margin-right: 30px;
}

.button {
    width: 25%;
    height: 30%;
    background-color: green;
    color: white;
    border: 5px;

}

.item {
    width: 90%;
    height: 15%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteBtn {
    background-color: grey;
    color: white;
    height: 20px;

}