.fundo1 {
    background-color: white;
    width: 100vw;
    height: 33vh;
}

.linha { 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.quad1 {
    background-color: white; 
    width: 212px; 
    height: 212px;
    display: flex;
    justify-content: space-between;
}

.quad2 {
    background-color: white; 
    width: 212px; 
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quad3 {
    background-color: white; 
    width: 212px; 
    height: 212px;
    display: flex;
    justify-content: space-between;
}

.quadA{
    background-color: yellow;
    width: 50px;
    height: 50px;
}

.quadA1, .quadA2, .quadA3, .quadA4, .quadA5, .quadA6{
    background-color: yellow;
    width: 50px;
    height: 50px;
}

.quadA2, .quadA3 {
    align-self: flex-end;
}

.quadR {
    background-color: pink;
    width: 50px;
    height: 50px;
}

.fundo2 {
    margin-top: 20px;
    background-color: white;
    width: 100vw;
    height: 33vh;   
}

.quad4 {
    background-color: red; 
    width: 212px; 
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quadA6 {
    margin-left: auto;
}

.quad5 {
    background-color: blue; 
    width: 212px; 
    height: 211px;
    
}

.quad6 {
    background-color: orange; 
    width: 212px; 
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.divquad51 {
    width: 100%;
    height: 33.3333%;
    display: flex;
    justify-content: space-between;
}

.divquad52 {
    width: 100%;
    height: 33.3333%;
    display: flex;
    justify-content: center;
}

.divquad53 {
    width: 100%;
    height: 33.3333%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.divquad61 {
    width: 100%;
    height: 50%;
    display: flex;
}

.divquad62 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fundo3 {
    margin-top: 20px;
    background-color: white;
    width: 100vw;
    height: 33vh; 
    display: flex;  
}

.retAqua {
    background-color: aqua;
    width: 50%;
    height: 33vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.retRed {
    background-color: red;
    width: 50%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirB1 {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cirB2 {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cirY {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
